#reservedBooksTable {
  margin-top: 20px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 2vh;
}

#reservedBooksTable, 
th,
td {
  padding: 15px;
}

td {
  background: linear-gradient(to bottom, #fff6c0, #fffde3, #fffde2, #fffde1, #fffeef);
}

th {
  background: linear-gradient(to bottom, #f3b304, #ffc107, #f3b304);
}

#tableHeadingName{
  width: 50%;
  word-wrap: break-word;
}
#tableHeadingPickUpBy{
  width: 25%;
  word-wrap: break-word;

}
#tableHeadingReservedId{
  width: 20%;
  word-wrap: break-word;
}

#tableHeadingCancel{
  width: 5%;
  word-wrap: break-word;
}

.cancel-btn {
  background-color: #f3b304;
  border-radius: 20%;
  height: 30px;
  width: 30px;
  border-color: #ffc107;
}

.cancel-btn:hover {
  background-color: #212529;
  color:#f3b304;
  border-color: #f3b304;
}
