
  .fiction {
    --bg-color: #f8f27a;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(249, 245, 132, 0.48);
  }
  
  .romance {
    --bg-color: #f9b9b8;
    --bg-color-light: #e2fced;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(249, 186, 184, 0.48);
  }
  
  .travel {
    --bg-color: #ceb2fc;
    --bg-color-light: #f0e7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .food {
    --bg-color: #dcfffe;
    --bg-color-light: #f1fffe;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 255, 252, 0.48);
  }

  .autobiography {
    --bg-color: #dce2ff;
    --bg-color-light: #f1f3ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 227, 255, 0.48);
  }

  .biography {
    --bg-color: #ffc96b;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(250, 203, 127, 0.48);
  }

  .crime {
    --bg-color: #fcdcff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(254, 220, 255, 0.48);
  }

  .fitness {
    --bg-color: #b8f9d3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }

  .card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff00;
    padding: 20px;
  }  

  .card-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 210, 112, 0.959);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    margin: 10px;
    height: 280px;
  }

  .card-item:hover {
    background-color: #d1d1d100;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .card-item:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card-item:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card-item:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  /* .card-item:hover .circle:after {
    background: var(--bg-color-light);
  } */
  
  .card-item:hover p {
    color: var(--text-color-hover);
  }
  
  .card-item:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
      0 15px 24px var(--box-shadow-color);
  }

  .card-item p {
    font-size: 20px;
    color: #212529;
    margin-top: 30px;
    margin-bottom: 0px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .circle svg {
    z-index: 10000;
    transform: translateZ(0);
  }

  .overlay {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: var(--bg-color);
    transition: transform 0.3s ease-out;
  }

  .card-item i {
    font-size: 50px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 4px;
    color: #343434;
  }

  .result-content {
    width: 80%;
    max-width: 600px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    background-color: #ffedce;
    border: 2px solid #212529;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: ubuntu, sans-serif;
  }

  #bookModal .result-content h6 {
    font-size: 1.5rem; 
    font-weight: bold;
  }
  
  #bookModal .result-content p {
    font-size: 1.1rem; 
  }

  #bookModal .result-content img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 15px; 
  }

  #genreModal .result-content .book-suggestion {
    margin-bottom: 20px;
  }
  
  #genreModal .result-content .book-suggestion .reserve-btn {
    margin-top: 10px; 
  }

  #bookModal .result-content .reserve-btn {
    margin-left: 30px; 
  }

  #genreModal .result-content .reserve-btn {
    background-color: #f3b304;
    color: #212529;
    border: 2px solid #f3b304;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  #genreModal .result-content .reserve-btn:hover {
    background-color: #212529;
    color: #f3b304;
    border-color: #f3b304;
  }