@import url("genre.css");
@import url("bar.css");

body {
    font-family: ubuntu, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    background-image: url("https://images.pexels.com/photos/3760323/pexels-photo-3760323.jpeg?cs=srgb&dl=pexels-stas-knop-3760323.jpg&fm=jpg");
    background-position: absolute;
    background-size: cover;
    background-position-y:20%;
  }

  .navbar-brand {
    font-size: 30px;
  }
  
  .navbar {
    font-size: 25px;
  }
  
  .background-cover {
    background-position: right;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: #212529;
  }
  
  .cover-text {
    font-size: 80px;
    position: relative;
    top: 10%;
    transform: translateY(-30%);
  }

  .slogan-text {
    font-size: 35px;
    position: relative;
    top: 5%;
    transform: translateY(-10%);
  }

  .suggest {
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -30px;
  }

  .result-content {
    width: 80%;
    max-width: 600px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    background-color: #ffedce;
    border: 2px solid #212529;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: ubuntu, sans-serif;
  }

  #bookModal .result-content img {
    max-width: 100%;
    max-height: 70%;
    margin-bottom: 15px;
  }

  .result-content h6 {
    font-size: 1.5rem;
  }
  
  .result-content p {
    font-size: 1.1rem; 
  }

  #bookModal .result-content .reserve-btn {
    background-color: #f3b304;
    color: #212529;
    border: 2px solid #f3b304;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  #bookModal .result-content .reserve-btn:hover {
    background-color: #212529;
    color: #f3b304;
    border-color: #f3b304;
  }

  #customModal .modal-content {
    background-color: #ffedce;
    border: 2px solid #212529;
    border-radius: 10px;
    font-family: ubuntu, sans-serif;
  }
  
  #customModal .modal-header {
    background-color: #f3b304;
    color: #212529;
    border-bottom: 1px solid #212529;
    font-family: ubuntu, sans-serif;
  }
  
  #customModal .modal-footer {
    background-color: #ffedce;
    border-top: 1px solid #212529;
  }