@import url("genre.css");
@import url("bar.css");

body {
    font-family: ubuntu, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    background-image: url("https://images.pexels.com/photos/3760323/pexels-photo-3760323.jpeg?cs=srgb&dl=pexels-stas-knop-3760323.jpg&fm=jpg");
    background-position: absolute;
    background-size: cover;
    background-position-y:20%;
  }

  .navbar-brand {
    font-size: 30px;
  }
  
  .navbar {
    font-size: 25px;
  }
  
  .background-cover {
    background-position: right;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: #212529;
  }
  
  .cover-text {
    font-size: 80px;
    position: relative;
    top: 10%;
    transform: translateY(-30%);
  }

  .slogan-text {
    font-size: 35px;
    position: relative;
    top: 5%;
    transform: translateY(-10%);
  }

  .suggest {
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -30px;
  }