@import url("genre.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    background-image: url("https://images.pexels.com/photos/3760323/pexels-photo-3760323.jpeg?cs=srgb&dl=pexels-stas-knop-3760323.jpg&fm=jpg");
    background-position: absolute;
    background-size: cover;
    background-position-y:20% ;
  }

  .background-cover {
    background-position: right;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: #fff;
  }
  
  .cover-text {
    font-size: 80px;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
  }

  .slogan-text {
    font-size: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .search-box {
    max-width: 800px; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.529); 
    padding: 30px 15px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    margin-top: 250px;
    margin-bottom: 0px;
  }

  .form-control {
    height: 40px;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }

  .btn-outline-secondary {
    background-color: #fff;
    border: none;
    border-left: 1px solid #ccc;
    padding: 20px;
    color: #fff;
  }

  .dropdown-menu {
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .dropdown-item {
    padding: 10px 20px;
    color: #333;
    transition: background-color 0.3s ease;
  }

  .dropdown-item:hover {
    background-color: #f5f5f5;
  }

  .navbar-brand {
    font-size: 3.5vh;
  }
  
  .navbar {
    font-size: 3vh;
  }
  
  .suggest {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  