h3 {
  margin-top: 20px;
  display: flex;
  align-items: left;
} 

#reservedBooksTable {
  margin-top: 20px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 2vh;
}

#reservedBooksTable, 
th,
td {
  padding: 15px;
}

td {
  background: linear-gradient(to bottom, #fff6c0, #fffde3, #fffde2, #fffde1, #fffeef);
}

th {
  background: linear-gradient(to bottom, #f3b304, #ffc107, #f3b304);
}

#tableHeadingName{
  width: 50%;
  word-wrap: break-word;
}
#tableHeadingPickUpBy{
  width: 25%;
  word-wrap: break-word;

}
#tableHeadingReservedId{
  width: 25%;
  word-wrap: break-word;
}
