body {
  padding: 0px;
  margin: 0px;
  background-image: url("https://images.pexels.com/photos/3760323/pexels-photo-3760323.jpeg?cs=srgb&dl=pexels-stas-knop-3760323.jpg&fm=jpg");
  background-position: absolute;
  background-size: cover;
  background-position-y:20% ;
  font-family: ubuntu, sans-serif;
}

main {
  text-align: center;
  margin: 12vh 30vw;
  font-size: 3vh;
  background-color: #f1f3f4;
  padding: 7vh;
  border-radius: 2vh;
}

fieldset {
  margin: 3vh;
  margin-right: 6vh;
}
.navbar-brand {
  font-size: 30px;
}

.navbar {
  font-size: 25px;
}

#carouselExampleDark {
  text-align: center;
  border-radius: 2vh;
}

#container-flex {
  display: flex;
  flex-direction: row;
}

img {
  height: 320px;
  width: 225px;
  margin: 0px;
  border-top: 0.6vh solid #f1f3f4;
  border-right: 2vh solid #f1f3f4;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 0.2vh;
  border-top-left-radius: 1vh ;
}
.carousel-inner {
  text-align: center;
  margin-top: 6vh;
}
.carousel {
  width: 50vw;
  height: 70vh;
  margin-top: 10vh;
}

header {
  text-align: left;
  margin: 10vh 9vw;
}

h1 {
  font-family: ubuntu;
  font-size: 20vh;
}

h2 {
  font-size: 6vh;
}

.homescreen-btns {
  border: 3px solid #212529;
  background-color: transparent;
  margin: 1.2vw;
  padding: 2vh;
  border-radius: 2vh;
  font-size: 3vh;
}

.homescreen-btns:hover {
  background-color: #212529;
  color: #e9ab00;
}

.submit-btns{
  border: 3px solid #212529;
  background-color: #e9ab00;
  margin: 0.5vw;
  padding: 1vh;
  border-radius: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.submit-btns:hover {
  background-color: #212529;
  color: #e9ab00;
}
